body {
  background: #f9f2e6;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1200px !important; 
  margin: 0 auto;
}


.head-content {
  margin-bottom: 50px;
  display: flex;
}

.head-content__sidebar {
  width: 20%; 
  font-size: 80%; 
  max-width: 250px;
  min-width: 180px; 
}

.head-content__sidebar div {
  padding-top: 5px;
}

.head-content__sidebar .form-check {
  padding-top: 10px;
  margin-left: 15px; 
}

.sidebar-title {
  text-transform: capitalize;
  font-size: 16px;
  height: 20px;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
}

.form-check-label {
  color: #3f3f3f;
}

.form-check-price-last {
  margin-left: 5px !important;
}

.price-range-input {
  width: 40px;
  background: #f9f2e6;
}

.form-check-price-last div {
  align-items: center;
}

#flexCheckDefault {
  background: #f9f2e6;
}

.sidebar-color-radio {
  align-items: flex-start;
  margin-top: 5px;  
}

.sidebar-color-radio .form-check-input {
  margin-right: 10px;
}

.head-content__product-list {
  padding-left: 30px;
  padding-top: 10px;
  width: calc(100% - 20%); 
}


.head-content__product-list .form-select {
  background-color: #f9f2e6;
}

/* product */
.product-info {
  border: 2px solid #000000;
  width: calc((100% - 30px - 20px) / 4); /* Adjust based on margins and number of items in a row */
  padding: 20px 0 0 0;
  position: relative;
  margin-right: 20px;
}

.product-info img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}


.product-content {
  padding-top: 10px;
  border-top: 2px solid #000000;
}

.product-content .product-title {
  font-weight: 500;
  margin-bottom: 0;
}

.product-content .product-desc {
  font-size: 12px;
  color: #212121;
  margin-bottom: 0;
}

.product-content .product-price {
  padding-top: 5px;
  color: #fb6f92;
  font-weight: 500;
}

.product-discount {
  width: 44px;
  height: 23px;
  background: #fb6f92;
  color: #fff;
  position: absolute;
  top: 10px;
  left: -2px;
}

